body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-top-mg{
    margin-top:30px;
}

.form-bottom-mg {
    margin-bottom: 20px;
}

.border {
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

footer {
    position: absolute;
    bottom: 0;
    left: 80px;
}

.field-validation-error{
    color:orangered;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width:70%;
}
